@import '../styles.scss';

main {
  margin: 0 32px;
}

h2 {
  font-size: 3.2rem;
  color: white;
}

#about-me {
  .hard-skills__container, .soft-skills__container {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
