@import '../styles.scss';

@mixin secondaryUnderline ($color, $hover-color, $line-weight) {
  color: $color;
  line-height: 4rem;
  background: linear-gradient(to bottom, $hover-color 0%, $hover-color 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: $line-weight $line-weight;
  text-decoration: none;
  transition: background-size .4s;
  padding: 5px 2px;
  &:hover {
    background-size: 4px 50px;
    color: $aux-grey;
  }
}

h2 {
  font-size: 3.2rem;
  color: white;
}

.social-media {
  position: relative;
  top: -95px; //-100px
  right: 47px;
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  .social-media_icon {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    position: relative;
    animation-name: float;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    border: 2px solid $secondary-color;
    &.github {
      background: url('../assets/icons/github.png') center/cover no-repeat;
      background-color:white;
      height: 60px;
      width: 60px
    }
    &.linkedin {
      background: url('../assets/icons/linkedin.png') center/cover no-repeat;
      background-color:white;
      height: 60px;
      width: 60px
    }
  }
}

#about-me {
  .about-me__content-container {
    background-color: #282828;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    padding: 44px;
    padding-bottom: 32px;
    border-radius: 24px;
    line-height: 1.6;
    margin-bottom: 32px;
    h2 {
      font-size: 1.8rem;
      margin: 0 0 14px 0;
      line-height: 1.5;
      border-bottom: none;
      letter-spacing: normal;
    }
    p {
      font-size: 1.5rem;
    }
    span {
      font-size: 1.5rem;
      font-weight: bold;
      letter-spacing: 2px;
    }
    a {
      @include secondaryUnderline($secondary-color, $primary-color, 2px);
      line-height: 1.6;
    }
  }
  .about-me__hard-kills, .about-me__soft-skills {
    h2 {
      margin: 0;
      width: auto;
    }
  }
  .hard-skills__container, .soft-skills__container {
    display: flex;
    gap: 0 24px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .about-me__soft-skills {
    h2 {
      text-align: end;
      padding-right: 0;
      padding-left: 24px;
    }
    margin-top: 16px;
  }
}

#project {
  .project__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
  }
  h2 {
    margin-bottom: 0;
  }
  h3 {
    font-size: 2.2rem;
    margin: 0 0 16px 24px;
    border-bottom: none;
    color: #fd886c;
    line-height: 6rem;
    letter-spacing: 6px;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinking {
  from {
    border-color: transparent;
  }
  to {
    border-color: $secondary-color;
  }
}

@media (max-width: 575px) {
  .introduction__avatar, .social-media {
    display: none;
  }

  #introduction {
    .introduction__content-title {
      h1 {
        .content-title_occupation {
          white-space:initial;
          border-right: none;
          animation: none;
        }
      }
    }
  }

  #about-me {
    margin-top: 36px;
    .about-me__content-container {
      grid-template-columns: 1fr;
    }
  }
}
