@import '../../app.component.scss';

$colors: (
  platzi: #97ca3f,
  ispc: #0ea8de,
  codo-a-codo: #f7b801,
  argentina-programa: #ff6fc8
);

p {
  font-size: 1.5rem;
}
.tittle {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
}
.slash {
  margin: 0 4px;
}

li {
  margin-bottom: 12px;
  &.university-of-cincinnati {
    .color {
      color: #97ca3f;
    }
  }
  &.saveetha-engineering-college {
    .color {
      color: #0ea8de;
    }
  }
  &.codo-a-codo {
    .color {
      color: #f7b801;
    }
  }
  &.argentina-programa {
    .color {
      color: #ff6fc8;
    }
  }
  &.accenture{
    .color{
      color: magenta;
    }
  }
  &.tss-techsoft{
    .color{
      color: #0ea8de;
    }
  }
  &.syntage-tech{
    .color{
      color: #97ca3f;
    }
  }
}